@import 'src/styles/abstract/_variables.scss';
@import 'src/styles/base/_base.scss';
.footer {
  bottom: 0;
  width: 100%;
  min-height: 24rem;
  // margin: 0 auto;
  background-size: cover;
  background-color: $default-background-color;
  padding: 1rem;

  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 100%);
  align-items: center;
  justify-items: center;

  @media only screen and (min-width: $bp-smallest) and (max-width: $bp-small) {
    padding: 0;
  }


  .fab, .fal {
    font-size: 1.5rem;

    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-medium) {
      font-size: 2rem;
    }
  }


  &__signup-social-mobile-row-wrapper {
    width: 99%;
    display: grid;
    grid-gap: 3rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 33%);
    background-color: $default-background-color;

    // 320px to 375px
    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
      //grid-template-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(98%, 1fr));
    }

    &__signup--form {
      width: 100%;
      float: left;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 2fr;

      // text-align: center;
      background-color: $default-background-color;
      border-radius: 20px;

      // 320px to 375px
      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        font-size: $bp-smallest-font-size;
      }

    }

    &--social-icons {
      text-align: center;
      display: grid;

      & i {
        margin-left: 2.5rem;
      }
    }

    &--mobile-apps {
      display: grid;
      text-align: right;
      right: 5rem;

      & i {
        margin-right: 0.3rem;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background-color: $default-background-color;

    &__nav-subdiv {
      width: 100%;
      min-height: 16rem;
      margin-right: 15rem;
      margin-bottom: 1.2rem;
      padding: 1rem;
      background-color: $default-background-color;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-column-gap: 2.5rem;
      // grid-row: 1 / -1;

      align-content: center;
      justify-content: center;
      text-align: center;

      @media only screen and (max-width: $bp-medium) {
        margin: 2% auto;
      }

      /*&:hover {
        background-color: rgba(0, 0, 0, .3);
      }*/

      & h2 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }

      &__contact-text {

        font-family: $font-primary;
        font-size: $font-footer-content;
        color: $font-primary-color;


        &__contact-text:hover,
        &__contact-text a:hover {
          cursor: pointer;
          color: #ff6200;
        }

      }

      &__btn {
        height: 3rem;
        // padding: 0.5rem;
        border: 2px solid white;
        border-radius: 15px;
        background-color: #000;
        color: $font-primary-color;
        font-size: $font-footer-btn;

        align-self: center;
        justify-self: center;

        &:hover {
          color: #ff6200;
        }
      }

      &__subdiv-3 {

        align-content: center;

        & ion-item {
          align-content: center;
        }

      }

    }
  }

  &__site-info {
    width: 80%;
    //background-color: $bg-color;
    background-color: #d9d9d9;
    margin: 0 auto;
    border-top: 1px solid #bebebe;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* grid-row: 2 / -1;
     grid-column: 1 / span 3;*/

    align-content: baseline;

    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-small) {
      width: 100%;
    }

    &__content-1 {
      width: 100%;
      margin: 0 auto;
      padding: 5px;
      color: #bebebe;
      font-size: 1rem;
      // text-align: center;

      & a:visited, a:active {
        color: #bebebe;
      }

      & a:hover {
        color: #bebebe;
      }

      @media only screen and (min-width: $bp-medium-small) and (max-width: $bp-medium-larger) {
        width: 58%;
        padding: 0;
        text-align: center;
        font-size: 1rem;
      }

      @media only screen and (max-width: $bp-small) {
        width: 65%;
        padding: 0;
        text-align: center;
        font-size: 0.9rem;
      }

      @media only screen and (max-width: $bp-smaller) {
        width: 65%;
        padding: 0;
        text-align: center;
        font-size: 0.9rem;
      }

      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
        padding: 0;
        text-align: center;
        font-size: 0.9rem;
      }

    }

    & .ion-float-right {

      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-small) {
        float: none !important;
      }
    }

    &__content-2 {
      width: 97%;
      padding: 5px;
      color: #bebebe;
      font-size: 1rem;
      text-align: right;

      & a:visited, a:active {
        color: #bebebe;
      }

      & a:hover {
        color: #bebebe;
      }

      @media only screen and (min-width: $bp-medium-small) and (max-width: $bp-medium-larger) {
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 0.9rem;
      }

      @media only screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
        width: 99%;
        padding: 0;
        text-align: center;
        font-size: 0.9rem;
      }

      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
        width: 97%;
        padding: 0;
        text-align: center;
        font-size: 0.9rem;
      }
    }
  }
}
