@import 'src/styles/base/_base.scss';

.jumbotron-header {
  width: 100%;
  margin-bottom: 1rem;

  /*background-image: linear-gradient(
                  to right bottom,
                  rgba($color-smokey-grey, 0.6),
                  rgba($color-grey-dark, 0.6));
  url('/src/assets/img/kitch/kitchen_image_2.jpg');
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(665px, 1fr));*/

  // 576 px
  @media (min-width: $bp-medium-smallest) {
    padding: 0;
  }



  &__img-wrapper{
    // height: 30rem;

    // 768px
    @media (min-width: $bp-medium) {
      padding: 0;
    }

    // 320px to 375px
    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
      // height: 25rem;
    }

    &--img {
      width: 100%;
      height: 45rem;

      // 768px
      @media (min-width: $bp-medium) {
        height: 30rem;
      }

      // 320px to 375px
      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
        height: 20rem;
      }

    }

  }

  /*&__col-1 {

    &__text-wrapper {
      width: 85%;
      top: 20%;
      left: 18%;
      position: relative;
      z-index: 15;
      background-color: transparent;
      font-weight: bold;
      color: #fff;
      font-size: 4rem;
      text-align: center;

      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-small) {
        width: 75%;
        margin: 30% 0 0 3.5rem;
        top: 0;
        left: 0;
        font-size: 2rem;

      }
    }
  }

  &__col-2 {

    &__profit-estimator-wrapper {
      width: 50% !important;
      height: 25rem;
      top: 20%;
      // left: 18%;
      position: relative;
      z-index: 15;
      border: 1px solid white;
      border-radius: 2rem;
      display: grid;
      grid-template-rows: repeat(4, 1fr);

      @media only screen and (min-width: $bp-smallest) and (max-width: $bp-medium) {
        width: 0 !important;
        visibility: hidden;
        display: none;
      }

      &__title {
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
      }

      &__inputs {

      }

      & .estimate-btn {
        width: 50%;
        margin: 0 auto;
      }

      &__btn {
        text-align: center;
        width: 50%;
        background-color: #ff6200;
        color: #fff;

        &:hover {
          background-color: #ef7223;
          color: #fff;
        }
      }
    }
  }*/

}
