ion-header {

  // 1024px
  @media only screen and (max-width: $bp-larger-1024) {
    min-height: 3rem;
  }

  & ion-toolbar {
    width: 90%;
    margin: 0 auto;

    // 1024px
    @media only screen and (max-width: $bp-larger-1024) {
      min-height: 3rem;
    }

    & ion-buttons {

      @media only screen and (max-width: $bp-medium) {
        display: block;
      }

      & ion-menu-button {

        // 1024px
        /*@media only screen and (max-width: $bp-medium-large) {
          display: block;
        }*/

        @media only screen and (max-width: $bp-medium) {
          display: block;
        }

      }
    }

    & ion-title {

      width: auto;

      .title-wrapper {
        width: 27%;
        margin: 0 auto;
        float: left;

        // 1200px
        @media only screen and (max-width: $bp-largest) {
          width: 20%;
        }

        // 1024px
        @media only screen and (max-width: $bp-larger-1024) {
          width: 35%;
        }

        // 800px
        @media only screen and (max-width: $bp-medium-large) {
          width: 45%;
        }

        // 768px
        @media only screen and (max-width: $bp-medium) {
          width: 100%;
        }

        // 600px
        @media only screen and (max-width: $bp-medium-small) {
          width: 90%;
          margin: 0 auto;
          float: none;
        }

        // 568px
        @media only screen and (max-width: $bp-small) {
          // width: 100%;
        }

        // 414px to 568px
        @media only screen and (min-width: $bp-smaller) and (max-width: $bp-small) {
          width: 53%;
          margin: 0 0 0 2.5rem;
        }

        // 411px to 414px
        @media only screen and (max-width: $bp-smaller-2) {
          width: 85%;
        }

        // 320px to 375px
        @media only screen and (min-width: $bp-smallest) and (max-width: $bp-smaller-1) {
          width: 60%;
          margin: 0 0 0 1.9rem;
        }

        &__col {
          float: left;
          width: 15%;
          padding: 3px;

          &__logo {
            // width: 18%;
          }

          &__text {
            font-size: 1.6rem;

            @media only screen and (max-width: $bp-medium) {
              width: 80%;
              margin: 0 auto;
            }

          }

          & a {
            text-decoration: none;
            float: left;

            @media only screen and (max-width: $bp-medium) {
              width: 100%;
            }
            @media only screen and (min-width: $bp-smallest) and (max-width: $bp-medium) {
              font-size: 1.4rem;
            }

            & :hover {
              text-decoration: none;
              cursor: pointer;
            }
          }

          & ::after {
            content: "";
            clear: both;
            display: table;
          }

        }

      }

    }

    & .header-nav {
      width: 25%;
      display: block;
      right: 2rem;
      position: absolute;
      z-index: 10;
      top: 1.2rem;

      & ul {
        float: left;

        & li {
          list-style-type: none;
          float: left;
          // padding: 0.3px;
          & a {
            text-decoration: none;
            // left: 15px;
            padding: 3px;
          }
        }
      }

      // 800px
      @media only screen and (max-width: $bp-largest) {
        width: 30%;
        right: 1rem;
      }

      // 768px
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }

  }
}
