@import '../../../../styles/base/base';

.add-edit-minus {

  & .fas {

    margin-bottom: 1rem;

    @media only screen and (min-width: $bp-smallest) and (max-width: $bp-medium) {
      font-size: 3rem;
    }
  }

  & .fa-user-plus {color: #0303a7;}
  & .fa-user-minus {color: red;}

}