ion-header ion-title {
  font-size: 1.8rem;
  width: 15%;
}

.page-content-top {
  width: 30%;
  margin: 0 auto;
}

.no-page {
  width: 40%;
  margin: 1rem auto 0;
  text-align: center;
  padding: 1rem;

  @media only screen and (max-width:768px ) {
    width: 90%;
  }

  &__title {

  }

  &__content {

  }
}


