<!-- page header -->
<app-header></app-header>

<ion-content class="ion-padding">

  <!--ion-card class="core-pages"-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="primary">
          <h3>{{ pageTitle }}</h3>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="core-pages__para">
        <p>
          Thanks for stopping by and checking out our new site.  <br><br > {{ siteName }} is a minority own small business
          and we are excited about serving the Twin Cities metro area.
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>

        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
        <p>fasdfjdfjadfkadsfkajdfjafkfdkjdfa;f
          afdjajfakdfjak;lfja;kjfkjk;j;ajkjfa
          oijint;oijnk;aknjr;ajnb;nmena;knmadnkna
          jqwjnkf;aknm;qewkn;itgjinp g;enanjidne
          iaeonqepqijfvmaoermfa;weojfqwem['qweok[o']
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- page footer -->
<app-footer></app-footer>