<!-- START FOOTER CONTAINER -->
<ion-footer class="footer">
  <ion-grid>
    <ion-row class="footer__social-icons-wrapper">
      <ion-col class="footer__social-icons-wrapper__box">
        <a href="https://www.facebook.com/whoslaundry09" target="_blank">
          <i class="fab fa-facebook-f fa-3x"></i>
        </a>
      </ion-col>
      <ion-col class="footer__social-icons-wrapper__box">
        <a href="https://www.linkedin.com/in/getvrom09" target="_blank">
          <i class="fab fa-linkedin-in fa-3x"></i>
        </a>
      </ion-col>
      <ion-col class="footer__social-icons-wrapper__box">
        <a href="https://twitter.com/getvrom09" target="_blank">
          <i class="fab fa-twitter fa-3x"></i>
        </a>
      </ion-col>
      <ion-col class="footer__social-icons-wrapper__box">
        <a href="https://www.instagram.com/getvrom09/" target="_blank">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </ion-col>
    </ion-row>

    <ion-row class="footer__wrapper">
      <ion-col>
        <div class="footer__wrapper__nav-subdiv">
          <h2>Weekly Ad</h2>
          <p class="footer__wrapper__nav-subdiv__contact-text">Check out this week's deals.</p>
          <button class="footer__wrapper__nav-subdiv__btn" (click)="getWeeklyAd()">
            Learn More
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div class="footer__wrapper__nav-subdiv">
          <h2>What Size Bed Is Right?</h2>
          <p class="footer__wrapper__nav-subdiv__contact-text">Not sure if your bedroom is big enough?</p>
          <button class="footer__wrapper__nav-subdiv__btn"
                  (click)="askMAT()">Ask MAT
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div class="footer__wrapper__nav-subdiv">
          <h2>Got Questions?</h2>
          <p class="footer__wrapper__nav-subdiv__contact-text">How can we help you sleep at night.</p>
          <button class="footer__wrapper__nav-subdiv__btn" (click)="getContactForm()">Contact
          </button>
        </div>
      </ion-col>
    </ion-row>
    <section>
      <div class="network-status">
        <!--span>
            Connection Status: {{ networkStatus | json }}
        </span-->
      </div>
    </section>
    <ion-row class="footer__site-info">
      <ion-col size="12" size-sm class="ion-float-left">
        <div class="footer__site-info__content-1" >
          &copy; {{ date }} <a [routerLink]="['/home']">{{ siteFooterName }}</a>
          All Rights Reserved.
        </div>
      </ion-col>
      <ion-col size="12" size-sm class="ion-float-right">
        <div  class="footer__site-info__content-2">
          <a [routerLink]="['/terms-of-service']">Terms of Service |</a>
          <a [routerLink]="['/privacy']"> Privacy Statement |</a>
          <a [routerLink]="['/sitemap']"> Sitemap</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

