<ion-content [fullscreen]="true">
  <!-- page header -->
  <app-header></app-header>

  <section class="jumbotron-header">
    <ion-row>
      <ion-img [src]="testImg"></ion-img>
      <!--<ion-col class="jumbotron-header__col-1">
        <div class="jumbotron-header__col-1__text-wrapper">

        </div>
      </ion-col>
      <ion-col class="jumbotron-header__col-2">
        <ion-card class="jumbotron-header__col-2__profit-estimator-wrapper">
          <ion-card-header>
            <ion-card-subtitle class="jumbotron-header__col-2__profit-estimator-wrapper__title">

            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>-->
    </ion-row>
  </section>

  <section class="shop-by-department">
      <ion-row class="shop-by-department__row1">
        <ion-col class="shop-by-department__row1__columns">Col 1</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 2</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 3</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 4</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 5</ion-col>
      </ion-row>
      <ion-row class="shop-by-department__row2">
        <ion-col class="shop-by-department__row1__columns">Col 6</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 7</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 8</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 9</ion-col>
        <ion-col class="shop-by-department__row1__columns">Col 10</ion-col>
      </ion-row>
  </section>

  <!-- page footer -->
  <app-footer></app-footer>
</ion-content>
